.hero {
  margin: 160px 0;
  margin-bottom: 150px 0;
}
.hero p {
  color: #272142;

  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  color: #000;

  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.projects-page h2 {
  color: #272142;

  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.9;
}

.btn-get-started {
  color: white;
  border-radius: 4px;
  background-color: #033991;
  padding: 18px 30px;

  width: 200px;
}
.btn-get-started:hover {
  border-color: #033991;
  color: #033991;
}
h2 {
  color: #000;

  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.projects {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 450px;
  margin-bottom: 127px;
}

.btn-hobby-project,
.btn-clock-project,
.btn-weather-project {
  color: #6c63ff;
  margin: 55px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
  padding: 18px 30px;
  border-radius: 4px;
  border: 1px solid #033991;
}
.btn-hobby-project:hover,
.btn-clock-project:hover,
.btn-weather-project:hover {
  color: white;
  background-color: #033991;
}

.btn-weather-project {
  margin: 20px 0;
}

.about-hobby,
.about-weather,
.about-clock {
  color: rgba(39, 33, 66, 0.7);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
}
.hobby-bottom,
.weather-bottom {
  margin-bottom: 100px;
}
.project-description {
  padding: 0 55px;
}

.weather-image-project {
  padding: 2px 55px;
}
.project-clock-description {
  padding: 0 55px;
}

.hero-second-page h1,
.projects-page h1,
.contact-me h1 {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

.projects-page h1 {
  font-size: 54px;
}
.hero-second-page h2 {
  color: #272142;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-second-page p,
.contact-me p {
  color: rgba(39, 33, 66, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.projects-page,
.contact-me {
  padding: 90px 20px;
}
.hero-second-page {
  padding: 70px;
}
.about-section-content {
  margin: 30px;
}
.name-project {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.built-with {
  color: rgba(39, 33, 66, 0.7);

  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-me h2 {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-me-inner {
  background-color: #f9f7fe;
  border-radius: 20px;

  padding-top: 49px;
  padding-left: 119px;
}
.contact-me-btn {
  padding-left: 200px;
}
.get-in-touch {
  margin-bottom: 150px;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 25px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: rgba(39, 33, 66, 0.7);
}

nav a:hover,
nav li.active a,
footer a:hover {
  color: #033991;
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

.email-link a {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

footer .social-links a {
  margin: 0 20px;
  color: #033991;
  font-size: 18px;
  background-color: #f9f7fe;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: #033991;
}

.sourced-link a {
  color: #033991;
}
@media (max-width: 900px) {
  .hero {
    margin: 160px, 0;
  }

  .hero p,
  h1,
  h3 {
    text-align: center;
  }
  .hero p {
    font-size: 26px;
  }

  .hero h1 {
    font-size: 40px;
  }
  .hero h3 {
    font-size: 15px;
  }

  .projects {
    font-size: 13px;
    margin-top: 200px;
    margin-bottom: 75px;
  }
  h2 {
    font-size: 35px;
    text-align: center;
  }

  .main-page p {
    text-align: center;
    font-size: 15px;
  }

  .primary-button {
    padding: 18px 30px;
    width: 200px;
  }

  .weather-primary-button {
    padding: 18px 40px;
    margin-left: 41px;
    width: 200px;
  }
  .hobby-bottom,
  .weather-bottom {
    margin-bottom: 15px;
  }
  .about-weather {
    margin: 35px 35px;
  }

  .hero-second-page {
    text-align: center;
    padding: 0;
  }

  .hero-second-page h1,
  .projects-page h1 {
    font-size: 40px;
  }

  .contact-me-btn,
  .contact-me-inner {
    padding-left: 50px;
  }
  .contact-me-inner h2 {
    text-align: center;
    font-size: 25px;
  }
  .contact-me h1 {
    font-size: 35px;
    text-align: center;
  }
  .contact-me-inner p {
    text-align: center;
    font-size: 15px;
  }
  .logo {
    max-height: 30px;
  }
}
